{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
    <section id="galerie">
        <div class="container">
            <h1>Les derniers masques publié</h1>

            <div class="filters-button">
                <div class="filter-button" data-filter="asc">Ascendant</div>
                <div class="filter-button" data-filter="desc">Descendant</div>
            </div>

            <div class="card-container">
                {% include 'partial/article.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}