{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    <section id="accueil">
        <div class="container">
            <h1>Les derniers masques publiés</h1>

            <div class="card-container">
                {% include 'partial/article.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
