@use "../abstracts/variables" as variable;

body {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 2;
        height: 15vh;

        nav {
            // background: center/cover no-repeat url('../../images/sl_121019_25870_67\ \(1\).jpg');
            height: 100%;
            ul {
                height: 100%;
                display: flex;
                gap: 3rem;
                list-style-type: none;
                justify-content: center;
                align-items: center;

                li {
                    a {
                        position: relative;
                        font-family: variable.$font-family-title;
                        color: white;
                        text-shadow: black 1px 1px 4px;
                        font-size: 2rem;
                        display: inline-block;
                        text-decoration: none;

                        &::before {
                            position: absolute;
                            content: '';
                            display: block;
                            width: 0;
                            height: 2px;
                            bottom: -5px;
                            background: white;
                            transition: width 0.3s;
                            box-shadow: black 1px 1px 4px;
                        }
                    }
                    
                    &:hover a::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}