@use "../abstracts/variables" as variable;

body {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 2;
        height: 15vh;

        .nav-desktop {
            background-color: #00000081;
            padding: 1.5rem;
            border-radius: 500px;

            ul {
                height: 100%;
                display: flex;
                gap: 3rem;
                list-style-type: none;
                justify-content: center;
                align-items: center;

                li {
                    a {
                        position: relative;
                        font-family: variable.$font-family-title;
                        color: white;
                        text-shadow: black 1px 1px 4px;
                        font-size: 2rem;
                        display: inline-block;
                        text-decoration: none;

                        &::before {
                            position: absolute;
                            content: '';
                            display: block;
                            width: 0;
                            height: 2px;
                            bottom: -5px;
                            background: white;
                            transition: width 0.3s;
                            box-shadow: black 1px 1px 4px;
                        }
                    }
                    
                    &:hover a::before {
                        width: 100%;
                    }
                }
            }
        }

        .burger {
            background-color: #00000081;
            padding: 1.5rem;
            border-radius: 500px;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            span {
                height: 5px;
                width: 50px;
                background: white;
                border-radius: 5px;

                &:not(:last-child) {
                    margin-bottom: 7px;
                }
            }
        }

        .nav-mobile {
            position: absolute;
            transform: translateY(200px);
            background-color: #000000bd;
            padding: 1.5rem;
            display: none;
            border-radius: 20px;

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: center;

                li {
                    a {
                        font-family: variable.$font-family-title;
                        color: white;
                        text-shadow: black 1px 1px 4px;
                        font-size: 2rem;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}