@media screen and (max-width: 768px) {
    header {
        .nav-desktop {
            display: none !important;
        }
        .nav-mobile {
            display: none;
        }
        .burger {
            display: flex !important;
        }
    }

    .filters-button {
        position: absolute;
        right: 0px;
        top: -100px!important;
    }
}
