@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as variable;


#articlepage {
    padding-top: 18rem;
    .container {
        @include mixin.container;
        max-width: 780px;
    }

    .card-container {
        .card {
            border-image: url(../../images/card-cadre.png) 60 74 73 74 fill / 60px 74px 73px 74px;
            border-image-repeat: round;
            box-sizing: border-box;
            padding: 30px 30px 30px 30px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 350px;
            position: relative;
            width: 100%;

            .card-content {
                background-color: white;
                padding: 10px;
                overflow: hidden;
                display: grid;
                grid-template-columns: 1fr 1fr ;
                grid-template-rows: auto 1fr 40px auto;
            }

            .card-image {
                grid-row: span 2;
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-title {
                font-family: variable.$font-family-title;
                font-size: 1.75rem;
                font-weight: 700;
                text-align: center;
                margin-bottom: 1rem;
            }

            .card-body {
                grid-row: span 3;
                padding: 1rem;

                .type{
                    font-family: variable.$font-family-title;
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                    font-weight: 700;
                }

                p {
                    text-align: left;
                    font-family: variable.$font-family-body;
                    font-size: 1.25rem;
                    margin-bottom: 1rem;
                }

                a {
                    pointer-events: auto;
                }
            }

            .card-option {
                display: flex;
                align-items: center;
                gap: 1rem;

                a {
                    font-family: variable.$font-family-title;
                    background-color: #d4b010;
                    color: white;
                    padding: 0.5rem;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    text-decoration: none;
                    text-align: center;
                    flex: 0 0 0;
                }
                input[type="submit"] {
                    font-family: variable.$font-family-title;
                    background-color: #D41012;
                    color: white;
                    padding: 0.5rem;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    text-align: center;
                    flex: 0 0 0;
                }

            }

            .card-commentaries {
                background-color: white;
                padding-top: 3rem;
                text-align: left;
                padding-inline: 1rem;

                h3 {
                    font-family: variable.$font-family-title;
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                }

                .commentary {
                    background-color: #f9f9f9;
                    padding: 0.5rem;
                    border-radius: 4px;
                    margin-bottom: 0.5rem;

                    p {
                        font-family: variable.$font-family-body;
                        font-size: 1rem;
                        color: #333;
                        margin: 0;
                    }

                    .commentary-end {
                        border-bottom: 1px solid #ccc;
                    }
                }

                #commentary {
                    div {
                        display: flex;
                        flex-direction: column;

                        label {
                            font-family: variable.$font-family-title;
                            margin-bottom: 0.5rem;
                        }

                        textarea {
                            padding: 0.5rem;
                            margin-bottom: 1rem;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            resize: vertical;
                        }

                        button {
                            font-family: variable.$font-family-title;
                            background-color: #D41012;
                            color: white;
                            padding: 0.75rem;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }

}