@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as variable;


#galerie {
    padding-top: 30vh;
    padding-bottom: 5rem;
    .container {
        position: relative;
        @include mixin.container;
        max-width: 800px;
    }

    h1 {
        font-family: variable.$font-family-title;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
        color: white;
        margin-bottom: 2rem;
    }

    .filters-button {
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 1rem;

        .filter-button {
            background-color: #D41012;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            margin: 0 0.5rem 1rem 0.5rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken(#D41012, 10%);
            }
        }
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;

        .card {
            border-image: url(../../images/card-cadre.png) 60 74 73 74 fill / 60px 74px 73px 74px;
            border-image-repeat: round;
            box-sizing: border-box;
            padding: 30px 30px 30px 30px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 350px;
            text-align: center;

            .card-content {
                background-color: white;
                padding: 10px;
                overflow: hidden;
            }

            .card-image {
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-title {
                font-family: variable.$font-family-title;
                font-size: 1.25rem;
                margin: 0.5rem 0;
            }

            .card-body {
                padding: 1rem;

                h2 {
                    font-family: variable.$font-family-title;
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-family: variable.$font-family-body;
                    font-size: 1rem;
                }

                p.clamp-2 {
                    position: relative;
                    line-height: 1em;      
                    max-height: 2em;          
                    overflow: hidden;     
                    text-overflow: ellipsis;
                    display: -webkit-box;               
                    -webkit-line-clamp: 2;          
                    -webkit-box-orient: vertical;
                    margin-bottom: 1rem;
                    font-size: 1.25rem;
                }

                a {
                    display: inline-block;
                    font-family: variable.$font-family-title;
                    text-decoration: none;
                    background-color: #D41012;
                    color: white;
                    padding: 0.75rem;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
    }

}