@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as variable;

#inscriptionpage {
    padding-top: 30vh;
    padding-bottom: 20rem;
    .container {
        @include mixin.container;
        max-width: 750px;

        .container-form {
            border-image: url(../../images/card-cadre.png) 60 74 73 74 fill / 60px 74px 73px 74px;
            border-image-repeat: round;
            box-sizing: border-box;
            padding: 30px 30px 30px 30px;

            form {
                background-color: white;
                padding: 15px;

                div {
                    div {
                        display: flex;
                        flex-direction: column;

                        label {
                            font-family: variable.$font-family-title;
                            margin-bottom: 0.5rem;
                        }
                        input {
                            padding: 0.5rem;
                            margin-bottom: 1rem;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                        }
                        textarea {
                            padding: 0.5rem;
                            margin-bottom: 1rem;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            resize: vertical;
                        }

                        button {
                            font-family: variable.$font-family-title;
                            background-color: #D41012;
                            color: white;
                            padding: 0.75rem;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}