@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as variable;

#addpage {
    padding-top: 30vh;
    padding-bottom: 5rem;
    .container {
        @include mixin.container;
        max-width: 750px;

        .container-form {
            border-image: url(../../images/card-cadre.png) 60 74 73 74 fill / 60px 74px 73px 74px;
            border-image-repeat: round;
            box-sizing: border-box;
            padding: 30px 30px 30px 30px;

            h1 {
                font-family: variable.$font-family-title;
                text-align: center;
                padding-block: 1rem;
                font-size: 1.75rem;
                background-color: white;
            }

            form {
                background-color: white;
                padding: 15px;
                display: flex;
                flex-direction: column;

                div {
                    div {
                        display: flex;
                        flex-direction: column;

                        label {
                            font-family: variable.$font-family-title;
                            margin-bottom: 0.5rem;
                        }
                        input {
                            padding: 0.5rem;
                            margin-bottom: 1rem;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                        }

                        #masque_colors {
                            display: grid;
                            grid-template-columns: repeat(6,50px 1fr);
                            margin-bottom: 1rem;
                        }

                        textarea {
                            padding: 0.5rem;
                            margin-bottom: 1rem;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            resize: vertical;
                        }

                        a {
                            font-family: variable.$font-family-title;
                            color: #D41012;
                            text-decoration: none;
                            margin-top: 1rem;
                            text-align: center;
                        }
                    }

                }
                button {
                        font-family: variable.$font-family-title;
                        background-color: #D41012;
                        color: white;
                        padding: 0.75rem;
                        align-self: center;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                }
            }
        }
    }
}